<!DOCTYPE html>
<head>
    <title>Callback</title>
    <style>
        *{
            box-sizing: border-box;
        }
        body{
            display: flex;
            width: 98vw;
            height: 98vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        a{
            font-size: large;
        }
    </style>
</head>

<body>
    <h1>Payment successful! </h1>
    <h1>You can close this page now </h1>
    <h1>The link to download the book is sent to your mail address. </h1>
    <h1>Thank You!</h1>
    <a href="http://localhost:4200/bookshelf/">Click here to return Home</a>
</body>

</html>
