<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="msg"/><button onclick="sendMsg()">Send</button>
    <ul id="chat"></ul>
    <script>
        // const chat = document.getElementById("chat");
        const socket = new WebSocket('ws://' + window.location.host + window.location.pathname);
        socket.onerror = (err) => {
            console.log(err);
        }
        socket.onclose = (err) => {
            console.log("Closed");
        }
        socket.onmessage = (event) => {
            console.log(event);
        }
        function sendMsg(){
            const msg = document.getElementById("msg");
            socket.send(msg.value);
            msg.value = "";
        }
    </script>
</body>
</html>